body{
    font-family: 'Roboto Mono', monospace;
    border:solid black 3px;
    width: 900px;
    margin: 10px auto 10px auto;
}

h3{
    font-size: 15px;
    text-align: center;
    color: slategrey;
    line-height: 1px;
    
    }

    h3.interletrado{
        letter-spacing: 10px;
        margin-bottom: 30px;
    }

h2{
    font-size: 30px;
    text-align: center;
    line-height: 1px;
    
    
}

ul{
   text-align: center; 
   border-top: solid black 2px;
    border-bottom: solid black 1px;
    font-size: 14px;
    width: 500px;
    word-spacing: 30px;
    padding: 15px;
    margin: 10px auto 10px auto;
    

    
}
li{
    display: inline;

}

header{
    margin: 30px auto 30px auto;
}

li:hover{
    color: red;
}


p{
    width: 450px;
    font-size: 12px;
    text-align: center;
    margin: 30px auto 30px auto;
    
}
img{
    filter: grayscale(100%);
    display: block;
    margin:auto
    
}